header {
  background-color: #09280a;
  margin: 0;
  padding: 0;
}

.top-bar {
  padding: 0px;
  font-size: 12px;
  min-height: 40px;
}

.main-header {
  padding: 20px 0 25px;
}

.site-title {
  color: #e1c1b7;
  text-align: center;
}